.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#results {
  font-size: 2rem;
  color: #282c34;
}


#start_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  border-radius: 50%;
  padding: 4rem 4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 4rem;
  margin: 1rem 1rem;
  cursor: pointer;
}

#stop_button {
  background-color: #f44336;
  border: none;
  border-radius: 50%;
  color: white;
  padding: 4rem 4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 4rem;
  margin: 1rem 1rem;
  cursor: pointer;
}
